{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" type="text/css">
        
        <title>공연 예매 페이지</title>
    </head>
    
    <body>
        <script src="audience_num.js"></script>
        
        <div class="container">
            <div class="row">

                <!-- 공연 예매 정보 -->
                <div class="col">
                    공연 예매 정보<br>
                    날짜<br>
                    회차<br>
                    잔여 좌석 수
                </div>

                <!-- 예매자 정보 -->
                <div class="col">
                    <div class="d-grid gap-2">

                        <form>
                            <!-- 예매자 이름 -->
                            <div class="row mb-3">
                                <label for="exampleInputEmail1" class="col-sm-3 col-form-label">예매자 이름</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="reservation-name">
                                </div>
                            </div>
                            
                            <!-- 예매자 연락처 -->
                            <div class="row mb-3">
                                <label for="exampleInputPassword1" class="col-sm-3 col-form-label">연락처</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="reservation-contact" aria-describedby="emailHelp">
                                    <div id="emailHelp" class="form-text">공연 당일 예매자 확인 용도로 사용됩니다.</div>
                                </div>
                            </div>

                            <!-- 예매 인원 -->
                            <div class="row mb-3">
                                <label class="col-sm-3 col-form-label">예매 인원</label>
                                <div class="col-sm-3">
                                    <div class="list-group list-group-horizontal" id="audience-num ">
                                        <a href="#" type="button" class="minus btn btn-primary" id="minus-btn">-</a>
                                        <li type="number" class="result list-group-item" id="num-result">3</li>
                                        <a href="#" type="button" class="plus btn btn-primary" id="plus-btn">+</a>
                                    </div>
                                <!-- <div class="col-sm-5"></div> -->
                                </div>
                            </div>

                            <!-- 예매 확인용 비밀번호 -->
                            <div class="row mb-3">
                                <label for="exampleInputPassword1" class="col-sm-3 col-form-label">예매 확인용 비밀번호</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="reservation-password">
                                    <div id="emailHelp" class="form-text">예매 확인 시 사용됩니다.</div>
                                </div>
                            </div>
                            
                            <!-- 지인 리스트 -->
                            <div class="mb-3 form-check">
                              <input type="checkbox" class="form-check-input" id="exampleCheck1">
                              <label class="form-check-label" for="exampleCheck1">Check me out</label>
                            </div>

                            <button type="submit" class="btn btn-primary">예매하기</button>
                          </form>

                        </div>
                </div>

            </div>
        </div>

    </body>

</html>